<!--Notes Modal-->

<div class="modal fade modalNote" id="noteModal{{this._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button> --}}

                <h5 class="modal-title">{{this.title}}</h5>
            </div>
            <div class="modal-body">
                {{#if this.notes}}
                {{#each this.notes}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="previousNotes"> {{this.body}}</p>
                        <button type="button" class="btn btn-danger deleteNote" data-note-id={{this._id}}
                            data-article-id={{this.article}}>X</button>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>No notes for this article yet.</h4>
                    </div>
                </div>
                {{/if}}
                <label >Type your article's note below:</label>
                <input type="text" class="noteText form-control form-control-lg" 
                    aria-describedby="textHelp" value="" required>
                <small id="textHelp" class="form-text text-muted">Limited to 140 characters</small>

            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="saveNote btn btn-primary" data-id={{this._id}}>Save Note</button>
            </div>
        </div>
    </div>
</div>

{{!-- <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script> --}}
<script src="/app.js"></script>
