<!--Homepage-->
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 jumbotron">
            <div class="text-center">
                <h1> New York Times </h1>
                <h3>Mongo Scraper</h3>
                <hr>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{#if data}}
                    <div class="div">
                        <h2 class="title">Today's articles</h2>
                    </div>
                    {{#each data}}
                    <div class="card text-white bg-dark mb-3" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title" id="article">{{title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted" id="summary">{{summary}}</h6>
                            <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="btn btn-link btn-sm"
                                role="button"><i class="fas fa-glasses"></i></a>
                            <button href="{{link}}" class="btn btn-link btn-sm"
                                role="button" data-toggle="modal" data-target="{{_id}}" ><i class="far fa-save"></i></button>
                            {{!-- <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="btn btn-link btn-sm"
                                role="button" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}} ><i class="far fa-comment"></i></a> --}}
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Uh Oh. Looks like we don't have any new articles.</h4>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--Clicked Notes Modal-->
{{#each data}}
    {{> notes_modal }}
{{/each}}